name: Semgrep

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:  

jobs:
  semgrep:
    name: Scan
    runs-on: ubuntu-latest
    steps:
      - name: FetchSource
        uses: actions/checkout@v4
      - name: Semgrep
        run: semgrep ci --config=auto --sarif --output=semgrep.sarif || true
      - name: UploadSarif
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: semgrep.sarif
        if: always
      
        
